---
---

.bs-docs-masthead {
  padding-top: 50px;
  padding-bottom: 40px;
  margin-bottom: 20px;
}

.bs-docs-header h1, .bs-docs-header p {
  margin-right: 0;
}

.bs-docs-sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
}

.bs-docs-sidebar .nav > li > a {
  font-size: 15px;
}

.bs-docs-sidebar .nav .nav > li > a {
  font-size: 14px;
}

.back-top-top {
  font-size: 13px;
}

.bs-docs-container {
    position: relative;
}

.bs-docs-nav {
  background-color: #EEF4F6;
}